@import url('https://fonts.googleapis.com/css?family=Inknut+Antiqua');

body, html {
  height: 100%;
  max-width: 100%;
  margin: 0px;
  font-family: 'Inknut Antiqua', sans-serif;
  color: black;
  font-size: 14px;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 30px;
  
}

.carousel-item {
  width: 100%;
  max-height: 50vmax;	

}

.nav-item,.btn-secondary {
  display: block;
  background-color: #f1f1f1;
  color: black;
  border-radius: 3px;
  font-size: 14px;
  text-decoration: none;
}

.navbar-nav{
	margin: 0.5% 0px 0.5% 0.5%;
	padding: 2% 0px 2% 2%;
}


/* Change the background color on mouse-over */
.nav-item:hover, .btn-secondary:hover {
  background-color: #ffe6e6;
  color: black;
}

/* Style the active/current link*/
.nav-item.active{
  background-color: #ff9999;
  color: black;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  background-color: #ff9999;
  color: black;
  border-color: transparent;
}

/* Style the header: fixed position (always stay at the top) */
header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
  line-height: 20px;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background-color: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background-color: #ff9999;
}

.logo{
  
  width: 55%;
  color: black;
  text-decoration: bold;
}


.parallax {
  /* The image used 
  background-image: url('flowers.jpg'); 

  /* Full height */
  height: 70%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  width: 100%;
  /* effects on the image */
  background-color: #ffe6e6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
}

.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  margin-top:10%;
  
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}




.card-style {
  position: relative;
  width: 100%;
  height: 100%;
  /* effects on the image 
  background-color: #ffe6e6; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
}

.card-body, .btn-info {
  text-align: center;
  font-size: 12px;
}

.modal-body{
	margin: auto;
}

.close{
	float:right;
}

.text {
  background-color: #ff9999;
  color: white;
  font-size: 14px;
  padding: 16px 32px;
}


/* zig zag*/

* {
  box-sizing: border-box;
}


.row, .row_alt {
  padding: 64px;
  border-radius: 10px;
  border: 0 solid;
  border-top-width: 3px;
  border-bottom-width: 4px;
  border-top-style: double;
  border-bottom-style: ridge;
  border-top-color:  #ffcc99;
  border-bottom-color: #ffcc99;
  padding: 8px 0px;
  margin: 0px;
 
  
  /*border-image: url(/images.jpg);*/
}

.row_alt {
  
  /*border-image: url(/images.jpg);
  background-color: #fff2df;*/
  background-color: #f0f0f0;
}


.col-sm-7:after , .col-sm-3:after {
  content: "";
  display: table;
  clear: both
}

.col-sm-3, .col-sm-7 {
  padding: 20px;
  margin: auto;
}

.large-font {
  color: #ff9999;
}

span{
  font-size: 16px;
  text-decoration: bold;
}


img {
  display: block;
  height: auto;
  max-width: 100%;
}


footer>nav>article {
  color: black;
  border-radius: 5px;
  font-size: 12px;
  padding: 4px;
}


.base{
  background-color: #f0f0f0;
}

.base_alt{
  background-color: #ffe6e6;
}

.base, .base_alt{
  text-align: center;
  margin: 0;
  padding-top: 2%;
  padding-bottom: 2%;
}

.base>a, .base_alt>a{
  text-decoration: none;
  color: black;
}
 
.base>a:hover, .base_alt>a:hover{
  color: #ff9999;
  cursor: pointer;
}

.base>a>img{
  width:5%;
  margin-left: 50%
}

.col{
  color: #ff9999;
}
